body{
    background-color: #fff;
    color: grey;
    font-size: 12px;
}
.form-control, .form-select, .gender input{font-size: 1em;}
.container{font-size: 1em;}
a {text-decoration: none;}
form{font-size: 0.7; }
.card{padding-bottom: 1em;}
.responsive-tabs {
    padding: 1rem;
}

.responsive-tabs .nav-tabs {
    display: none;
}

@media (min-width: 768px) {
    .responsive-tabs .nav-tabs {
        display: flex;
    }

    .responsive-tabs .card {
        border: none;
    }

    .responsive-tabs .card .card-header {
        display: none;
    }

    .responsive-tabs .card .collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .responsive-tabs .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

.responsive-tabs_i {
    padding: 0.1em;
}

.responsive-tabs_i .nav-tabs {
    display: none;
}

@media (min-width: 768px) {
    .responsive-tabs_i .nav-tabs {
        display: flex;
    }

    .responsive-tabs_i .card {
        border: none;
    }

    .responsive-tabs_i .card .card-header {
        display: none;
    }

    .responsive-tabs_i .card .collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .responsive-tabs_i .tab-pane {
        display: block !important;
        opacity: 1;
    }
}
#tb_elenco_pratiche_length, #tb_elenco_pratiche_filter{padding: 0.1em; text-align: center;}